typings/
dist/


#OS junk files
[Tt]humbs.db
*.DS_Store

# ignore Editor files
*.sublime-project
*.sublime-workspace
*.komodoproject
.idea/

#Visual Studio files
.vs/
*.[Oo]bj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Project files
[Bb]uild/

#Subversion files
.svn

# Temp Files
~$*
*~
src/BV.Web/Temp/*

# Nuget
packages/*
!packages/repositories.config

# Nuget package restore
!.nuget/nuget.exe

# NPM
node_modules
npm-debug.*

# Log Files
*.log

# Compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packaged files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
